.movies-card-list {
    padding: 80px 0 0 0;
    margin: 0 70px;
    border-top: 1px solid #424242;
    display: grid;
    row-gap:  37px;
    column-gap: 24px;
    grid-template-columns:  repeat(auto-fill,  364px);
    grid-template-rows: repeat(auto-fill, 281px);
}

@media (max-width: 1279px) {
    .movies-card-list{
        grid-template-columns:  repeat(auto-fill,  339px);
        grid-template-rows:  repeat(auto-fill, 262px);
        row-gap:  30px;
        column-gap: 24px;
    }
}

