.profile {
    width: 410px;
    margin: 0 auto
}

.profile__title {
    margin: 74px 0 123px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-family: Inter, 'Arial', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__container {
    width: 410px;
    padding: 16px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #424242;
}

.profile__container_border-off {
    border: none;
}

.profile__input-helper {
    width: 141px;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    color: #FFFFFF;
}

.profile__form-input {
    max-width: 122px;
    background: none;
    font-family: Inter, 'Arial', sans-serif;
    outline: none;
    border: none;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.profile__submit-button {
    cursor: pointer;
    padding: 0;
    outline: none;
    background: none;
    border: none;
    margin: 203px auto 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.profile__submit-button:hover {
    opacity: .8;
    transition: opacity .4s ease-in-out;
}

.profile__submit-button:active {
    opacity: .4;
    transition: opacity .2s ease-in-out;
}

.profile__escape-button {
    cursor: pointer;
    padding: 0;
    outline: none;
    background: none;
    border: none;
    margin: 16px auto 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EE3465;
}

@media (max-width: 1279px) {
    .profile__title {
        margin: 236px 0 96px 0;
    }
}

@media (max-width: 767px) {
    .profile__title {
        margin: 70px 0 80px 0;
    }

    .profile {
        width: 260px;
    }

    .profile__container {
        width: 260px;
    }

    .profile__submit-button {
        margin: 349px auto 0;
    }
}