.article {
    padding: 0 70px;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
.article__title {
    margin: 0;
    padding: 100px 0 23px;
    border-bottom: 1px solid #DADADA;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
}
@media (max-width: 1279px){
    .article{
        padding: 0 50px;
    }
}
@media (max-width: 767px) {
    .article{
        padding: 0 16px;
    }
    .article__title{
        padding: 70px 0 28px;
    }
}
