.error {
    margin: 0 auto;
    padding: 0;
}

.error__code {
    padding: 246px 0 0 0;
    margin: 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #FFFFFF;
}

.error__title{
    margin: 5px 0 0 0;
    padding: 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    }
.error__back{
    display: block;
    margin: 184px 0 0 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
}