.portfolio {
    margin: 100px auto 125px;
    padding: 0 70px;
}
.portfolio__title {
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
}
.portfolio__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.portfolio__link {
    margin: 0;
    padding: 0;
    height: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #424242;
    box-sizing: border-box;
}
.portfolio__link p {
    margin: 0;
    padding: 0;
}
.portfolio__link:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
}
.portfolio__link_border_off {
    border: none;
}


@media (max-width: 1279px) {
    .portfolio {
        margin: 90px auto 125px;
        padding: 0 50px;
    }
    .portfolio__link {
        font-size: 28px;
    }

}

@media (max-width: 767px) {
    .portfolio {
        margin: 69px auto 40px;
        padding: 0 14px;
    }
    .portfolio__title{
        font-size: 14px;
    }
    .portfolio__link{
        font-size: 18px;
        line-height: 28px;
        height: 70px;
    }
}