.burger__close-button {
    position: absolute;
    right: 22px;
    top: 22px;
}

.burger {
    top: 0;
    right: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 520px;
    background-color: #2F2F2F;
    height: 100vh;
    align-items: center;
    z-index: 5;
}

.burger__list {
    font-family: Inter, 'Arial', sans-serif;
    gap: 28px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 159px auto 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.burger nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.burger__account-button {
    position: relative;
    bottom: 91px;
}

.burger__list-item {
    color: #FFF;
}

.burger__list-item:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
}
.burger__list-item:active {
 color: black;
}

.burger__close-button:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
}

@media (max-width: 767px) {
    .burger {
        width: 100%;
    }
    .burger__account-button{
        bottom: 48px;
    }
}
.burger__list-item_selected{
    border-bottom: 1px solid #FFF;
}