.about-project{
    padding-top: 10px;
}
.about-project__columns {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin: 0 0 110px;
}
.about-project__column {
    max-width: 550px;
}
.about-project__column-title {
    margin: 70px 0 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__column-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.about-project__schedule-container {
    margin: 0 0 110px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.about-project__schedule-first-column {
    margin: 0;
    width: 228px;
    display: flex;
    flex-direction: column;
}

.about-project__schedule-title {
    font-family: Suisse Intl, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin: 14px auto 0
}
.about-project__schedule-timeline{
    height: 36px;
    background-color: #303030;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: 36px;
}
.about-project__schedule-timeline_backlight{
background-color: #3DDC84;
    color: #000000;
}
.about-project__schedule-second-column{
    width: 912px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1279px) {
    .about-project__column-title{
        margin-bottom: 22px;
    }
    .about-project__column-content{
        font-size: 12px;
        line-height: 18px;
    }
    .about-project__columns{
        gap: 30px;
        margin-bottom: 93px;
    }
    .about-project__schedule-container{
        margin-bottom: 90px;
    }
    .about-project__schedule-first-column{
      min-width: 140px;
    }
    .about-project__schedule-second-column{
        min-width: 528px
    }
}

@media (max-width: 767px) {
    .about-project__column-title{
        margin: 60px 0 16px;
        font-size: 18px;
        line-height: 22px;
    }
    .about-project__columns{
        flex-direction: column;
        gap: 0
    }
    .about-project__column-content{
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__schedule-first-column{
        min-width: 100px;
        font-size: 11px;
        line-height: 13px;
    }
    .about-project__schedule-second-column{
        min-width: 184px;
        font-size: 11px;
        line-height: 13px;
    }
}
