.footer {
    padding: 0 70px;
    min-height: 172px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__about {
    min-width: 100%;
    text-align: center;
    margin: 0;
    padding: 79px 0 20px 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;;
}

.footer__info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
}

.footer__link {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
.footer__link:hover{
    opacity: .8;
    transition: opacity .4s ease-in-out;
}