.techs {
    background-color: #272727;
}

.techs__title {
    font-family: Inter, 'Arial', sans-serif;
    margin: 90px auto 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.techs__subtitle {
    max-width: 460px;
    margin: 0 auto;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.techs__container {
    margin: 100px auto;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.techs__technologies {
    width: 90px;
    height: 60px;
    list-style: none;
    text-decoration: none;
    background-color: #303030;
    border-radius: 10px;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.04em;
    line-height: 60px;
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.techs__technologies:hover {
    background-color: #3DDC84;
    color: #000000;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

@media (max-width: 1279px) {
    .techs__title{
        margin: 80px auto 22px;
    }
    .techs__container {
        margin: 83px auto 90px;}
    .techs__technologies{
        width: 84px;
        height: 57px;
        line-height: 57px;
        font-size: 12px ;
    }
}
@media (max-width: 767px) {
    .techs__title{
        margin: 60px auto 24px;
        font-size: 30px;
        line-height: 36px;
    }
    .techs__container {
        display: grid;
        grid-template-columns: 84px 84px;
        margin: 50px auto 70px;}

}
