.about-me__container {
    margin: 66px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me__avatar {
    border-radius: 10px;
    width: 270px;
    height: 327px;
    background-image: url(../../images/avatar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me__profile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-me__info {
    max-width: 600px;
    margin: 0;
    padding: 0;
}

.about-me__title {
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.about-me__subtitle {
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 18px 0 26px;
}

.about-me__about {
    margin: 0;
    padding: 0;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.about-me__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.about-me__link {
    font-family: Inter, 'Arial', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

.about-me__link:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
}