.nav-tab {
    background-color: #272727;
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
    gap: 10px;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 40px 0 40px;
    list-style: none;
}

.nav-tab__link {
    height: 36px;
    display: block;
    font-family: Inter, 'Arial', sans-serif;
    width: 96px;
    background-color: #303030;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    list-style: none;
    border-radius: 10px;
    text-decoration: none;
}

.nav-tab__link:hover {
    background-color: #3DDC84;
    color: #000000;
    transition: all .4s ease-in-out;
    cursor: pointer;

}
